

.buton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.buton:hover {
  border-color: #0a0f76;
}
.buton:focus,
.buton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 

 /* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .buton {
    background-color: #f9f9f9;
  } 
}  */
img {
  border-radius: 14px;
}
.radius {
  border-radius: 15px;
  
}
.myc {
  border: 5px solid black;
}
.myd {
  -webkit-box-shadow: 0 0 20px blue;
  -moz-box-shadow: 0 0 20px rgb(8, 32, 140);
  box-shadow: 0 0 20px blue;
  background-color: rgb(243, 179, 6);
  color: #1a1a1a;
  border-style: groove;
  border-color: black;
}
.cart-container {
  font-size: 3em;
  border-radius: 20%;
  width: fit-content;
}
.buton {
  /* padding: 0.6em 2em; */
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 10px;
   user-select: none; 
   -webkit-user-select: none; 
   touch-action: manipulation; 
}


.buton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-buton 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-buton {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
  color: white;
}
.colour {
  background-color: #4d9b1894;
}
.clr {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.clr2 {
  color: black;
}
.bg {
  background: url(/navbarimage.jpg) no-repeat  center fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -moz-background-size: cover; 
  
}
.log {
  /* align-items: center; */
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  height: 30px;
  justify-content: center;
  /* line-height: 1; */
  margin: 5px;
  outline: none;
  overflow: hidden;
  /* padding: 0 32px; */
  padding: auto;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.log:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.log:active {
  outline: 0;
}

.log {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .log {
    height: 48px;
  }
}
.size {
  height: 450px;
  width: 100%;
}
.html {
  background: url(/bodyimage.jpeg) no-repeat center    fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover; 
}
.bor{
  border-radius: 100%;
  border: 3px solid rgb(0, 0, 0);
  padding: 8px;
  background-color: #7a04f8;
   
}



.butonadmin {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 45px;
  min-width: 0;
  outline: none;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  will-change: transform;
}

.butonadmin:disabled {
  pointer-events: none;
}

.butonadmin:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.butonadmin:active {
  box-shadow: none;
  transform: translateY(0);
}
.mybb{
border: 7px solid black;
border-style: double;

  
}
